<!DOCTYPE html>
<html>
<head>
  <title>Yoga</title>
  <%= stylesheet_link_tag   "application" %>
  <%= requirejs_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
</head>
<body>

<%= yield %>

</body>
</html>